**/*htpasswd*
**/backups
fogcutter/docker/airsonic/airsonic-config
fogcutter/docker/minecraft/minecraft-data
fogcutter/docker/nginx/nginx-config
fogcutter/docker/plex/plex-config
fogcutter/docker/syncthing/syncthing-config
fogcutter/docker/syncthing/syncthing-sync
fogcutter/docker/monitoring/grafana/grafana-data
fogcutter/docker/monitoring/prometheus/prometheus-data
madone/docker/nginx/config
madone/docker/syncthing/config
madone/docker/syncthing/sync
