**/*htpasswd*
**/backups
fogcutter/docker/airsonic/config
fogcutter/docker/minecraft/data
fogcutter/docker/nginx/config
fogcutter/docker/plex/config
fogcutter/docker/syncthing/config
fogcutter/docker/syncthing/sync
fogcutter/docker/monitoring/grafana/data
fogcutter/docker/monitoring/prometheus/data
madone/docker/nginx/config
madone/docker/syncthing/config
madone/docker/syncthing/sync
